
/*index.html*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}



.container {
    height: 100vh;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 300px 1fr;
}


body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
    position: fixed;
    
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin: 8px;
  }


section{
    background-color: gray; 
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    justify-content: space-around;
    justify-items: center;
    height: 500px;
}


footer{
    height: 3vw;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #44adf8;
    position: fixed;
    bottom: 0;
    font-size: 0.8vw;
}

.logo{
    width: 160px;
    margin: 40px;
    
   
  
}
/*  h e a d e r  */


header{
background-color: rgb(230, 2, 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  grid-column: 1/-1;
}

#logotipo{
    display: flex;
    margin-left: 2vw;
    align-items: center;
}

#logotipo h4{
    font-size: 1.2vw;
}

#logotipo h1{
    font-size: 2.5vw;
    margin-right: 0.5vw;
    color: red;
}

#logotipo sup{
    font-size: 0.7vw;
    font-weight: 100;

}

#lupa{
    display: inline;
    color: black;
    font-size: 2.5vw;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    }
    #lupa:hover{
        opacity: 50%;
    }
    
    #lupa:active{
        font-size: 2.3vw;
    }

#login-botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    margin: 1vw;
    font-size: 1vw;
    text-align: center;
    height: 100%;
    cursor: pointer;
}

/* n a v */


nav{
    width: 16vw;
    height: 100%;
    background-color: #428fbe;
}

.menu-button{
    display: flex;
    height: 3vw;
    align-items: center;
    text-decoration: none;
}

.menu-button:hover{
    background-color: #45525b;
    color: white;
}

.menu-button:active{
    background-color: rgb(230, 2, 2);
    color: white;
}

.menu-button:nth-of-type(1){
    margin-top: 0.5vw;
}

nav img{
    width: 1.5vw;
    margin: 0 0.5vw 0 2vw;
}

.menu-button h1{
    font-size: 1.vw;
    margin: 0 0.5vw 0 2vw;
}

.menu-button p {
    text-align: left;
    margin-left: 0.5vw;
    font-size: 1vw;
}

 /* s e c t i o n   &   c a r ds  */

section{
    background-color: rgb(241, 248, 248);
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    justify-items: center;
    align-items: center;
   gap: 8px;      
    margin: 8px;
    overflow-x: scroll;
    scrollbar-shadow-color:#0000FF;
  
}



.card-produto{
    position: relative;
    display: flex;
    flex-direction:column;
    width: 15vw;
    height: max-content;
    text-align: center;
    justify-items:center;
    align-content:flex-start;
    background-color: white;
    border-radius: 4%;
    margin: 2px;
    box-shadow: 2px 2px 5px rgba(243, 10, 10, 0.507);
   
}

.card-produto >a {
    text-decoration: none;
    color: black;
    }

.card-produto:hover{
    box-shadow: 2px 2px 8px #02c3fe;
}

.card-produto:active{
    box-shadow: 5px 5px 10px #02fec7;
    width: 14.7vw;
}

.card-produto>a:visited{
    text-decoration: none;
    color: black;
}


.card-produto img{
    width: 100%;
    display: flex;
}

.card-produto h4{
    margin: 1vh 0 0 0;
    padding-bottom: 2vw;
    font-size: 4vh;
}

.card-produto p{
    font-size: 1vw;
    padding-bottom: 1vw;
}

.video-card{

    width: 200px;

}

footer{
    height: 3vw;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #45525b;
    bottom: 0;
    font-size: 0.8vw;    
}

footer p{
    margin: 0 0.5vw;
    color: #bccbd5;
}

 /*  r e s p o n s i v i d a d e */


@media screen and (max-device-width: 380px) {
                          
                      
    main{
        display: flex;
        flex-direction: column;
    }

                          
    /* h e a d e r */
                         
    header{
        height: 5vh;
        justify-content:right;
    }

    #logotipo{
        flex-basis: 50%;
    }

    #logotipo h1{
        font-size: 5vh;
    }

    #logotipo h4{
        font-size: 2.4vh;
    }

    #logotipo sup{
        font-size: 1.4vh;
    }

    header input{
    display: none;
    }

    #lupa{
        display: flex;
        align-self: stretch;
        font-size: 5vh;
        padding-bottom: 50%;
        border-left: 2px solid #000000;
        padding-left: 2vw;
    }

    #lupa:active{
        font-size: 4.6vh;
    }

    #login-botao{
    width: 8vh;
    margin: 1vh;
    font-size: 2vh;
    }


                         
      /* n a v */
                         
    nav{
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-button{
        height: 100%;
        width: fit-content;
    }

    .menu-button p{
        font-size: medium;
        margin-right: 2vw;
    }
    
    /* s e c t i o n */
                         
    section{
        display: flex;
        flex-direction: column;
    }

    .card-produto{
        width: 70%;
    }

    .card-produto:active{
        box-shadow: 5px 5px 10px #fe7e02;
        width: 68%;
    }

    .card-produto h4{
        margin: 1vh 0 0 0;
        padding-bottom: 1vw;
        font-size: 3vh;
    }

    .card-produto p{
        font-size: 2vh;
        padding-bottom: 2vh;
    }
                    
    /* f o o t e r */
                          
footer{
    height: 10vh;
    width: 100%;
    font-size: 1.5vh;
    flex-wrap: wrap;  
}

footer p{
    margin: 0.5vh 1vh;
    color: #bccbd5;
}

}
@media (max-width: 400px) {
    footer {
        position: relative;
        padding: 0;
    }
    section {
        grid-template-columns: 1fr;
    }
}

/*interna.html*/

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    background: rgb(235, 232, 232);
    padding: 10px;
}

nav > ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between
}

section {
    margin: 0 20px;
    max-width: 960px;
}

.media-box {
    background-color: black;
    color: white;
    position: relative;
    border: 1px solid green;
    box-sizing: border-box;
}

.media-box .title {
    position: absolute;
    width: calc(100% - 5px);
    background: rgba(255,255,255);
    color: black;
    height: 30%;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left:  5px;
}

.media-box img {
    width: 100%;
}

footer{
    background: #333B3E;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 0 10px;
}


.rodape {
    flex-direction: column;
    background-color: rgb(252, 30, 1);
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.rodape > p {
    width: 30%;
    float: left;
    text-align: right;
    margin: 60px auto;
}

.img-rodape {
    width: 30%;
    float: right;
    text-align: center;
    margin: 2   0px auto;
}

.img-rodape > img {
    height: 30px;
    margin: 1px;
}


.miclass {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

input {
    padding: 10px;
    height: 5px;
    width: 200px;
}

@media (max-width: 400px){
    footer{
        position: relative;
    }

    section{
        grid-template-columns: 1fr;
    }
}

video {
    width: 100%;
}


/* alugar carro */

.corMenu a{
    color: white;
    background-color: red;
}

.form-add button{

    color: white;
    background-color: brown;
    
}

label {
    margin-left: 200px;
}
button {
    margin-left: 200px;
    cursor: pointer;
}
h2 {
    margin-left: 200px;
}

/* Funcionarios */

.corMenu a{
    color: white;
    background-color: red;
}


aside {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin: 8px;
  
}


.cargosCor {
    color: blue;
}

/* alugar carro */

.corMenu a{
    color: white;
    background-color: red;
}


